* {
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  font-size: 2rem;
  padding: 20px;
  background-color: rgba(0, 76, 255, 0.861);
  color: azure;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid grey;
  box-shadow: 5px 4px 5px grey;
  border-radius: 10px;
}
